.squares {
  $blue: #030669;
  $size: 60px;
  $grey: #c7c7c7;

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: $grey;
  padding: 10px;

  &__first,
  &__second,
  &__third {
    width: $size;
    height: $size;
    background-color: $blue;
    margin-bottom: 10px;
  }
  &__third {
    margin: 0;
  }
}
