@import '../variables.scss';

.squares {
  $blue: #030669;
  $size: 60px;
  $white: #fff;

  border: 1px solid $black;
  text-align: center;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 58px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 10px;

  &__first,
  &__second,
  &__third {
    width: $size;
    height: $size;
    background-color: $blue;
    margin-bottom: 10px;
  }
  &__third {
    margin: 0;
  }
}
