$white: #fff;
$black: #000;
$dark-red: rgb(139, 0, 0);
$dark-blue: rgb(3, 6, 105);

$blue-background: #b0b4ea;
$pink-background: #f1c7df;
$green-background: #b5c3b5;

$blue: #160f4c;
$blue-hover: #3e30a7;
$blue-active: #5d65ca;

$pink: #9a3971;
$pink-hover: #b15088;
$pink-active: #cc619e;

$green: #5b805b;
$green-hover: #668e66;
$green-active: #709c70;

$red: #4c0f0f;
$red-hover: #ce0606;
